<p id="notice"><%= notice %></p>

<h1>Listing Ordered Products</h1>
<div class="row">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Product</th>
      <th>Price per unit</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<% total=0 %>
  <tbody>
    
    <% @ordered_products.each do |ordered_product| %>
      <tr>
        <td>
          <%= best_in_place ordered_product, :quantity, tabindex: "1" %>
        </td>
        <td><%= ordered_product.product.title %></td>
        
        <td><%= ordered_product.product.price %></td>
        
        <% total += ordered_product.product.price * ordered_product.quantity %>
        <td><%= link_to 'X', ordered_product, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %></td>
      </tr>
    <% end %>



    
  </tbody>
  <tr><%= link_to 'Empty cart', @cart, method: :delete,class:"btn btn-warning" %>
<%= link_to 'Back', root_path, class:"btn btn-primary" %> </tr>
</table>
<tr><h3>Euro<div class="total"> <%= total %> </div></h3></tr>


</div>
<br>


