<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @ordered_product.quantity %>
</p>

<p>
  <strong>Product:</strong>
  <%= @ordered_product.product_id %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @ordered_product.cart_id %>
</p>

<p>
  <strong>Price per unit:</strong>
  <%= @ordered_product.price_per_unit %>
</p>

<%= link_to 'Edit', edit_ordered_product_path(@ordered_product) %> |
<%= link_to 'Back', ordered_products_path %>
