<div class="row">

<% @staff_members.in_groups_of(3, false).each do |group| %>
  <div class='row'>

    <% group.each do |staff_member| %>
    
    <div class='col-md-4'>

        <div class="thumbnail">
          <%= image_tag staff_member.image.url(:thumb) %>
                  <%= staff_member.image.url(:thumb) %>    
               <div class="caption">

        <h3 ><%= staff_member.fullname %> </h3>
         
        <%= staff_member.role %>
       


         
                <div class="text-center">
                  <%= link_to "Vote", staff_member_path(staff_member),:class => "btn btn-success align-center" %>
             

                </div> <!-- end caption-->
           
    </div><!-- end thumbail-->

  </div> <!-- end col-md-4 -->
      
    <% end %>

</div> <!-- end row -->
<% end %>



</div>