<div class="row">

<% @products.in_groups_of(3, false).each do |group| %>
  <div class='row'>

    <% group.each do |product| %>
    
    <div class='col-md-4'>

        <div class="thumbnail">

               <div class="caption">

        <h3 ><%= product.title %> </h3>
         <p ><%= product.decription %> </p>
        <%= product.price %>
        <%= product.image %>
       


         <%= form_tag ordered_products_path(product_id: product) do %>
                <div class="text-center"><%= text_field_tag :quantity, params[:quantity]=1,size:"3" %>
                <%= submit_tag 'Add to cart', class: "btn btn-primary" %> </div>
              <% end %>

                </div> <!-- end caption-->
           
    </div><!-- end thumbail-->

  </div> <!-- end col-md-4 -->
      
    <% end %>

</div> <!-- end row -->
<% end %>



</div>